html
	head
	body
		nav
			ul
				li
					a(href='/') Newsfeed
				li
					a(href='/profile') Profile
		h2=user.name
		h3=user.email

		a(href='/logout') log out

		//- all own posts starting at last one
		h1 My posts
		- for (let i = data.length - 1; i >= 0; i--)
			p #{data[i].name}
			p #{data[i].body}
			p #{data[i].createdAt}
